@media (min-width: 768px) {

/* NAV */
nav ul {
display: flex !important;
flex-direction: row;
justify-content: center;
gap: 20px;
background: none;
}

#menuBtn {
display: none;
}

/* GRID: Events | Weather | Forecast */
.news-grid {
grid-template-columns: 2fr 1fr 1fr;
}


.news-grid > .box-container:nth-child(4) {
grid-column: 1 / -1;
}


#company-spotlight-container {
grid-template-columns: repeat(3, 1fr);
}

/* DIRECTORY GRID */
#members.grid {
grid-template-columns: repeat(3, 1fr);
}
}
