@media (min-width:768px){

#menuBtn{
display:none;
}

nav{
display:block;
}

nav ul{
display:flex;
background:#013328;
}

nav li{
flex:1;
text-align:center;
border:none;
}

.about-grid{
display:grid;
grid-template-columns:2fr 1fr;
gap:20px;
}

#courseContainer{
grid-template-columns:repeat(3,1fr);
}

}